.navbar {
  z-index: 10;

  position: fixed;
  top: 0px;
  height: 5.7rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $color-white;
  border-bottom: 1px solid rgba($color-black, $alpha: 0.15);
  // location logo
  &__navlogo {
    display: flex;
    &--logo {
      @include page-margin-left;
      width: 10rem;
      align-self: center;
    }
    &--location {
      margin-left: 2rem;
      display: flex;
      align-items: center;
      &-locationbar {
        width: 2.8rem;
      }
      &-text {
        font-weight: normal;
      }
      &-dynamicLocation {
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }
  // section search
  &__search {
    border-radius: 8px;
    // border: 1px solid $color-gray-border;
    @include universal-border;
    @include input-focus;
    transition: all 0.3s;

    @include respond(phone-mild) {
      border-radius: 0;
      position: absolute;
      top: 5.7rem;
      width: 100%;
      // left: 2rem;
      // right: 2rem;
      background-color: $color-secondary-2;
      // display: none;
      opacity: 0;
    }

    &--form {
      padding: 0.7rem 1rem;
      @include respond(phone-mild) {
        padding: 1rem 1rem;
      }

      &-box {
        @include input-reset;
        width: 40rem;
        @include respond(tab-land) {
          width: 35rem;
        }
        @include respond(tab-land-mid) {
          width: 22rem;
        }
        @include respond(tab-port-mid) {
          width: 9rem;
        }
        @include respond(tab-port-close) {
          width: 20rem;
        }
        @include respond(phone-mild) {
          // width: 60rem;
          // width: 55rem;
          width: 95%;
          font-size: 1.8rem;
        }
      }
      &-button {
        background-color: white;
        border: none;
        background: transparent;

        &:hover {
          cursor: pointer;
        }

        &-image {
          width: 1.6rem;
          // @include respond(phone-mild) {
          //   display: none;
          // }
        }
      }
    }
  }
  // section links
  &__actions {
    display: flex;
    align-items: center;
    &--navlinks {
      transition: all 0.2s ease-in-out;
      @include respond(tab-port-close) {
        // display: none;
        // @include box-shadow-full;
        @include universal-border-custome(0.15);
        border-radius: 0.7rem;
        position: absolute;
        right: 2rem;
        top: 7.5rem;
        transform: translateX(20rem);

        background-color: $color-white;
      }
      // &-back {
      //   @include respond(tab-port-close) {
      //     @include modal-back-uncentered;

      //   }

      // }
      &-ul {
        @include respond(tab-port-close) {
          // display: flex;
          flex-direction: column;
          text-align: center;
        }
        display: flex;
        gap: 0.4rem;
      }
      &-li {
        @include respond(tab-port-close) {
          &:not(:last-child) {
            border-bottom: 1px solid rgba($color-black, $alpha: 0.15);
          }
          padding: 1rem;
        }
        transition: all 0.05s;
        @include universal-click-effect;
      }
      &-a {
        padding: 0.6rem 1rem;
        font-size: 1.6rem;
        font-weight: 400;

        color: black;
        &:hover {
          border-radius: 7px;
          background-color: $color-secondary-2;
        }
      }
    }
    // nav login and sign up buttons
    &--buttons {
      &-cart {
        display: inline;
        padding: 2rem;
        &:hover {
          cursor: pointer;
        }
        &-image {
          @include universal-click-effect;
          width: 3rem;
        }
        &-count {
          padding: 0px 3px;
          border-radius: 50px;

          background-color: $color-orange;
          color: $color-white;
        }
      }
      display: flex;
      @include page-margin-right;
      &-login {
        display: none;
        @include button-normal;
        margin-right: 0.7rem;
        background-color: $color-secondary;
        // display: inline;
      }
      &-signup {
        // display: none;
        // display: inline;
        @include respond(phone) {
          // display: none;
        }
        @include button-normal;
        color: $color-white;
        &:hover {
          @include box-shadow;
        }
      }
    }
  }
}

// .special-banner {
//   // object-fit: cover;

//   &-img {
//     width: 20rem;
//     height: 3rem;
//     text-align: center;
//     // display: none;
//   }
// }

.special-banner {
  background-image: url('/Media/Image/5796.jpg');
  // margin-left: 1rem;
  background-size: cover; /* Cover the entire button */
  background-position: center;
  background-repeat: no-repeat;
  width: 20rem; /* Set width */
  height: 4rem;
  @include respond(tab-port-close) {

    width: 15rem;
  }
  @include respond(phone) {
    display: none;
  }
  /* Set height */
  border: none; /* Remove default border */
  color: white; /* Change text color if needed */
  font-size: 16px;
  border-radius: 0.7rem;
}

.responsive-nav-search {
  display: none;
  margin-left: 2rem;
  @include respond(phone-mild) {
    display: block;
  }
  &-icon {
    width: 3rem;
  }
}

.move {
  transform: translateX(0);
}

.display-block {
  transition: all 0.2s ease-in-out;
  // display: block;
  opacity: 1;
}

// hamburger

.nav-normal-warper {
  // display: none;
}

// hamburger
.hamberger-continer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-left: 1rem;
  // display: none;
  @media (min-width: 650px) {
    display: none;
  }

  &-1 {
    width: 3.5rem;
    height: 0.5rem;
    border-radius: 50px;
    background-color: $color-black;
  }
}

.button-reverse {
  display: flex;
  @include respond(tab-port-close) {
    display: flex;
    flex-direction: row-reverse;
  }
}
