$color-primary: #7b39ed;
$color-primary-light: #d7c0ff;
$color-secondary: #e3d3ff;
$color-secondary-2: #ece1ff;

// action colors
$color-red: #f90b23;
$color-black: black;
$color-green: #00e75b;
$color-orange: #f39904;

$color-gray: #6b838d;
$color-gray-border: rgb(228, 228, 228);

// text
$color-product-text: rgb(20, 19, 19);

$color-white: white;
$color-black: black;
$color-product-info: #f3f2f2;

$color-divider: rgb(214, 214, 214);

// $full-border: 



// others 
$color-white: rgb(255, 255, 255);
$color-bright-gray: #ebecf0;
$color-text-gray: #585858;
$color-text-900: #aaaaaa;
$nav-background-color: #1c1c1c;
$body-background-color: #040404;
$card-background-color: rgb(40, 38, 38);
$card-heading-color: rgb(28, 27, 27);
$color-black: black;
$color-for-field: #dddee3;
$color-for-border: #4c4d4e;
$payment-shadow-color: #E12A50;
//Brand colorrgb(98, 90, 90)
$color-brand-100: #eaf9ff;
$color-brand-200: #b3e6f9;
$color-brand-300: #7ddafc;
$color-brand-400: #51caf7; //(primary color)
$color-brand-500: #26b6eb; //(brand color)
$color-brand-600: #108fbc;
$color-brand-700: #026e95;
$color-brand-800: #004b68;
$color-brand-900: #012c3d; //use for text

// color Red
$color-red-100: #fae8e8;
$color-red-200: #fcb4b5;
$color-red-300: #fd7c80;
$color-red-400: #fe4b51;  //(Primary color)
$color-red-500: #f90b23;  //(main color)
$color-red-600: #c90008;
$color-red-700: #9a0000;
$color-red-800: #6e0000;
$color-red-900: #3b0100;

//color Blue
$color-blue-100: #e5ecfc;
$color-blue-200: #b1cbfe;
$color-blue-300: #7ba3fb;
$color-blue-400: #4a81f6; //(primary color)
$color-blue-500: #195eea;  //(main color)
$color-blue-600: #0045be;
$color-blue-700: #00338f;
$color-blue-800: #002367;
$color-blue-900: #011135;

// color Orange
$color-orange-100: #fcf5e2;
$color-orange-200: #fadeb6;
$color-orange-300: #fcc77b;
$color-orange-400: #f9b143; //(primary color)
$color-orange-500: #f39904; //(main color)
$color-orange-600: #c47401;
$color-orange-700: #955a00;
$color-orange-800: #693d00;
$color-orange-900: #352100;

//color Green
$color-green-100: #e2feef;
$color-green-200: #a6fccd;
$color-green-300: #54faa4;
$color-green-400: #00f282; //(primary color)
$color-green-500: #00e75b; //(main color)
$color-green-600: #01ba42;
$color-green-700: #008d2d;
$color-green-800: #00671e;
$color-green-900: #033711;
