.u-text-center {
  text-align: center;
}
.u-display-flex {
  display: flex;
}

.u-section-top-margin {
  margin-top: 10rem;
}
.u-section-top-margin-space {
  margin-top: 35rem;
}

.u-section-title-top-margin {
  margin-top: 2rem;
}
.u-margin-top-none {
  margin-top: 0;
}

.u-z-index-1000 {
  z-index: 1000;
}

.u-display-none {
  display: none;
  @include respond(tab-port-mid) {
    display: none;
  }
}

// js class manupulation utilities
.display-none {
  display: none;
  // @include respond(tab-port-close) {
  // }
}
.hide {
  display: none;
  // @include respond(tab-port-close) {
  // }
}

.display-category-none-phone {
  @include respond(phone-close) {
    display: none;
  }
  // display: none;
  // background-color: black;
}

.display-inline-block {
  // display: block;
  // width: 100%;
  // height: 100%;
  // padding: 100%;
  // @include button-normal;
  // color: $color-white;
  // &:hover {
  //   @include box-shadow;
  // }
}
