.category {
  @include section-bottom;
  &__row-1 {
    display: none;
    display: flex;
    gap: 1rem;
    &--cards {
      @include default-border-radius;
      border: 2px solid $color-primary-light;
      
      &:hover {
        cursor: pointer;
        transform: scale(1.03);
      }
      &:active {
        transform: scale(1.01);
      }
      @include default-border-radius;
      background-color: $color-secondary;
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;

      padding: 1.5rem 2rem;
      transition: all 0.2s;
      &-icon {
        width: 5rem;
        @include respond(phone-mild) {
          width: 4rem;
        }
      }
      &-title {
        text-align: center;
        color: black;

        font-weight: 400;
        font-size: 1.7rem;
        @include respond(phone-mild) {
          font-size: 1.2rem;
        }
      }
    }
  }
  &__row-2 {
    display: flex;

    margin-top: 1rem;
    gap: 1rem;
  }
}

// .test {
//     display: none;
// }
