// section bottom
.section-title {
  font-size: 2.4rem;
  font-weight: 500;
  // margin: 2rem 0 0rem 0;
  &-bottom {
    margin-bottom: 3rem;
    height: 0.7rem;
    width: 6rem;
    border-radius: 50px;
    // margin: 10rem;
    // color: $color-blue-500;
    background-color: $color-primary;
  }
}
.bottom-2 {
  height: 0.7rem;
  width: 2.6rem;
  margin-left: 0.5rem;
}

/* current problem:
1. it wont warp it self when more cards are added, it will try to fit all cards in one line.
2. I needed to apply border raeius to all box inside the card. 
*/

.product {
  margin-bottom: 10rem;
  &-warper {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }
  &__card {
    &--1 {
      width: 30rem;
      border-radius: 10px;
      // border: none;
      border: 2px solid rgba($color-black, $alpha: 0.08);
      &:hover {
        cursor: pointer;
        transform: scale(1.03);
      }
      &:active {
        // transform: scale(1.01);
        // opacity: 0.9;
      }
      overflow: hidden;
      transition: all 0.2s ease;
      // card it self
      // @include border-radius;
      position: relative;
      // new sign
      &-topInfo {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        display: inline-block;

        color: white;
        background-color: $color-orange-500;

        padding: 3px 10px;
        border-radius: 7px;
        font-size: 1.2rem;
        font-weight: 500;
      }
      // image
      &-imgBox {
        height: 35rem;
        width: 100%;
        &-productIMG {
          object-fit: cover;

          width: 100%;
          height: 100%;
        }
      }
      // information card
      &-information {
        background-color: $color-product-info;
        &-divider {
          background-color: $color-gray-border;

          width: 100%;
          height: 1.5px;
        }
        &-title {
          color: $color-product-text;

          padding: 0.8rem 2rem 0.8rem 2rem;
          font-weight: 400;
          font-size: 1.7rem;
          &-border {
            display: inline-block;
            width: 0.55rem;
            height: 1.6rem;
            border-radius: 50px;
            background-color: $color-primary;
          }
        }
        // pricing section
        &-pricing {
          text-align: center;

          padding-left: 0.8rem;
          font-size: 2rem;
          &-price {
            font-weight: 500;
          }
          &-orgPrice {
            font-size: 1.2rem;
          }
        }
        // review stars
        &-stars {
          text-align: center;

          padding-left: 0.8rem;
          font-size: 1.5rem;
        }

        // CTA - buy or add
        &-buttons {
          display: flex;
          flex-direction: column;

          margin-top: 1rem;
          padding: 0 2rem 2rem 2rem;
          gap: 0.8rem;
          &-addToCart {
            @include btn-empty;

            font-size: 1.5rem;
            font-weight: 500;
            padding: 0.9rem;
          }
          &-buyNow {
            @include button-normal-nonscale;
            color: $color-white;

            font-size: 1.5rem;
            font-weight: 500;
            padding: 1rem;
          }
        }
      }
    }
  }
}
