.order {
  display: flex;
  gap: 3rem;
}

.order-product {
  width: 60%;

  &__card {
    @include hover-scale;
    @include universal-border;

    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;

    display: flex;
    gap: 1rem;
    &--img {
      @include universal-border;

      width: 10rem;
      height: 13rem;
      object-fit: cover;
      border-radius: 0.7rem;
    }
    &--info {
      &-title {
        font-size: 2rem;
      }
      &-pricing {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        &-price {
          font-weight: 500;
          font-size: 1.9rem;
          color: $color-primary;
        }
        &-orgPrice {
          color: $color-gray;
        }
        &-quantity {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.order-progress {
    @include sticky-island;
    @include universal-border;

    height: 50%;
    border-radius: 1rem;
    width: 40%;
    padding: 4rem;
    
    background-color: $color-secondary-light-thin;
  &-continer {
    display: flex;
    align-items: center;
    gap: 1rem;
    &__ball {
      width: 2rem;
      height: 2rem;
      border-radius: 50px;

      background-color: $color-medium-gray;
    }
    &__progress {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}

.bars {
  margin: 1rem 0;
  height: 5rem;
  width: 1rem;
  margin-left: 0.5rem;
  border-radius: 50px;
  
  background-color: $color-medium-gray;
}
